body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url() no-repeat;
  background-size: cover;
}

.bgimg{
    text-align: center;
}
.navbar {
    overflow: hidden; /* Hide overflow */
    background-color: transparent ; /* Dark background color */
    font-family: sans-serif;
    font-weight: bold;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 12px 63px; /* Add some padding */
    text-decoration: none; /* Remove underline */
  }
  

  
  /* Change color on hover/mouse-over */
  .navbar a:hover {
    background-color: #ddd; /* Grey background color */
    color: black; /* Black text color */
  }
  .container{
    max-width: 80%; 
    padding: 34px; 
    margin: auto;
}

.container h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: white;
}

.container p{
     text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: white;
}


input, textarea{
  
  border: 2px solid black;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
  width: 250px;
  margin: 7px 0px;
  padding: 7px;
}
form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn{
  color: blue;
  background: white;
  padding: 8px 12px;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 14px;
  cursor: pointer;
}
.add{
  color: white;
  background: purple;
  padding: 8px 12px;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 14px;
  cursor: pointer;
}

 .bg{
  width: 100%;
  position: absolute;
  z-index: -1;
} 
.submitMsg{ 
  color: green;
}
/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.team{
  margin-left: 100px;
}